*{margin:0; padding:0;}
body{
    background:#ebebeb;
}

.calendario{
    margin:40px;
    width:1600px;
    height: 500px;
    background:white;
    font-size:14px;
    text-align:center;
    position:relative;
}
.calendario table{width:100%;}

.calendario .mes{
    display:none;
}
.calendario td{
    padding:25px;
    color:#666;
    border: 1px solid gray;
}
.calendario td.evento{
    background:#069;
    border: 1px solid gray;
}
.calendario td.dias{
    background:#000;
}
.calendario td.atual{
    background:#EC2F00;
    color:white;
}
.calendario td a{
    color:#000;
    text-decoration:none;
    display:block;
}
.calendario .mes_title{
    font-size:15px;
}
.calendario .mes_title td{
    background:#069;
    padding:5px;
    padding-bottom:6px;
    color:white;
}

.calendario #volta, .calendario #vai{
    padding:0 10px;
    font-size:16px;
    text-decoration:none;
    background:linear-gradient(to bottom, #fff, #ccc 130%);
    line-height:28px;
    margin:3px;
    position:absolute;
    color:#333;
}
.calendario #volta:hover, .calendario #vai:hover{
    background:linear-gradient(to bottom, #ccc, #fff 130%);
}
.calendario #volta{
    left:-1px;
    top:-1px;
}
.calendario #vai{
    right:-1px;
    top:-1px;
}
.blue, .red, .white{
    float:left;
    width:15px;
    height:15px;
    margin-right:5px;
    border: 1px solid gray;

}
.blue{
    background:#069;
   
}
.red{
    background:#EC2F00;
}
.calendario .legends{
    float:left;
    width:100%;
    margin-top:10px;
    text-align:left;
}

.calendario .legends .legenda{
    float:left;
    width:30%;
    
}

input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=textarea] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .button {
    background-color:#ccc; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid gray;
}